*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, video {
  display: block;
}

body {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

.parco {
  width: 100%;
  height: 100%;
}

.title {
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 30px;
  top: 30px;
  width: 100px;
  transition: opacity 1s ease;
}

.title.active {
  opacity: 1;
}

.title h1 {
  font-family: sans-serif;
  font-size: 72px;
  line-height: 64px;
  color: black;
}
