*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, video {
  display: block;
}

body {
  font-family: sans-serif;
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

.parco {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 80px);
}

@media (min-width: 1000px) {
  .parco {
    height: 100%;
  }
}

.title {
  opacity: 1;
  position: fixed;
  z-index: 1;
  left: 10px;
  top: 10px;
  transition: opacity 1s ease;
}

.title.active {
  opacity: 1;
}

.title h1 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 4px;
  color: black;
}

.title h2 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
  color: black;
}

.credits {
  font-size: 14px;
  line-height: 20px;
  display: block;
  width: auto;
  transform: rotateZ(90deg);
  transform-origin: 0 100%;
}

.video-wrapper {
  position: relative;
  width: 90vw;
  height: 0;
  padding-bottom: 51%;
  padding-top: 25px;
}

@media (min-width: 480px) {
  .video-wrapper {
    width: 480px;
  }
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
